ul {
    padding: 0;
    margin: 0;
    background-color: #fff;
}
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 8px 12px;
    svg {
        display: none;
    }
    &.selected {
        background-color: #a6b8ff;
        svg {
            display: block;
        }
    }
}
